services:
  mongo:
    image: mongo:8.0
    container_name: portfolio_mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/
      
  backend:
    build: ./backend
    container_name: backend
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  mongo-data:
